<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome AS</title>
</head>
<body style="background-color: lightskyblue;margin: 3%;">
    <div style="display: flex;justify-content: space-between;align-items: center;">
        <button style="height: 30px; width: 80px;background-color: white;"><a href="/homepage" style="text-decoration: none; color: black;">Homepage</a>
        <button style="height: 30px; width: 80px;background-color: black;"><a href="/logout" style="text-decoration: none; color: white;">Log out</a></button></button>
    </div>
    <div class="msg" style="background-color: cadetblue;color: black; height: 300px;width: 1420px;">
        <h1 style="text-align: center; padding-top: 100px;font-size: 4rem;">Welcome {{profiles_first_name}} {{profiles_last_name}} !</h1>
    </div>
    
    <!-- <table style="margin-left: 10px;">
        <head>
            <tr>
                <th style="border: 2px solid black; width: 150px;background-color: black;color: whitesmoke;">First Name</th>
                <th style="border: 2px solid black;width: 150px;background-color: black;color: whitesmoke;">Last Name</th>
                <th style="border: 2px solid black;width: 50px;background-color: black;color: whitesmoke;">Email</th>
                <th style="border: 2px solid black;width: 50px;background-color: black;color: whitesmoke;">Password</th>
            </tr>
        </head>
        <tbody>
            {% for profile in profiles %}
            <tr style="text-align: center; font-weight: bold;">
                <td style="border: 2px solid black; height: 30px;"> {{profile.first_name}} </td>
                <td style="border: 2px solid black;"> {{profile.last_name}} </td>
                <td style="border: 2px solid black;"> {{profile.email}} </td>
                <td style="border: 2px solid black;"> {{profile.password}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
</body>
</html>