<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home AS</title>
</head>
<body style="background-image: url('https://media.istockphoto.com/id/1303969791/vector/creativity-new-ideas-and-main-books-message-concept.jpg?s=612x612&w=0&k=20&c=fNXfok6cL9nzJifAiD16GJMMH0awDbmQK1Nt9BmUDN4=');">
    <div style="border: 4px solid black; height: 600px; width: 600px; margin: 7% 0 0 30%;filter: opacity(5px);">
        <h1 style="text-align: center;font-size: 6rem;background-color: lightskyblue;border: 2px solid white;">WELCOME!</h1>
    <div style="display: flex; justify-content: center;">
        <button style="font-size: 4rem; margin-right: 80px;background-color: whitesmoke;"><a href="/books" style="text-decoration: none;color: blue;">books</a></button>
        <button style="font-size: 4rem;background-color: whitesmoke;"><a href="/authors" style="text-decoration: none;color: blue;">authors</a></button>
    </div>
    </div>
</body>
</html>