<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Display AS</title>
</head>
<body style="margin: 10% 35%;font-size: larger;">
    <div class="cont" style="justify-content: center;">
        <p style="border: 2px solid black;width: 60%;text-align: center;">Current time and data displayed down here</p>
        <h1 style="border: 2px solid black;width: 60%;text-align: center;"> {{time}} </h1>
    </div>
</body>
</html>